* {
  box-sizing: border-box;
}
h2 {
  font-family: "RocknRoll One", sans-serif;
  font-size: 3rem;
  color: #dd4e23;
  text-shadow: 2px 2px 5px rgb(201, 198, 198);
}

.container{
  padding-bottom: 20px !important;
}
.btn {
  background-color: #dd4e23 !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  cursor: pointer !important;
  opacity: 0.9 !important;
}

.btn-div {
  margin-top: 5px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.btn:hover {
  opacity: 1 !important;
}

.bg-bottom{
    display: flex;
    
    justify-content: center !important;
    width: auto;
    padding-bottom: 20px;
}

.link {
  text-align: center !important;
  padding-top: 5px;
}
/* 
#name,
#email,
#password,
#password-confirm,
#zipCode,
#selectSkills
 {
    font-family: 'Snippet', sans-serif;
    
}

#skillsSelect {
    font-family: 'Snippet', sans-serif;
}
 */
