* {
  box-sizing: border-box;
}

.container-forced{
  width: 80vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 16px;
  background-color: white;

}

.form-container {
  /* width: 60vw !important; */
  height: auto;
  /* background-color: #41d9dcc8; */
  margin-top: 50px;
  border-radius: 1%;

}



.btn {
  margin-top: 10px;
}

.form{
    padding: 30px;
}

.content-style{
    padding: 15px;
    font-size: 20px;
}

.description {
    height: auto;
    width: 100%;
}